/* Reset e Fonte */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #323232;
  border: none;
}

/* Corpo Centralizado */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

/* Links */
a {
  font-size: 0.8rem;
  color: #0056b3;
  text-decoration: none;
}

a:hover {
  color: blue;
}

/* Container de Login */
#login-container {
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  min-width: 320px;
  padding: 20px 30px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
              0 0 20px 0 #4e7fb7; /* Mesma sombra do painel */
}

/* Formulário */
form {
  margin-top: 30px;
  margin-bottom: 40px;
  animation: suave 0.7s;
}

label,
input {
  display: block;
  width: 100%;
  text-align: left;
}

label {
  font-weight: bold;
  font-size: 0.85rem;
}

input {
  border-bottom: 2px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

/* Link Esqueci a Senha */
#forgot-pass {
  text-align: right;
  display: block;
}

/* Botão */
button {
  background-color: #0056b3;
  color: white;
  padding: 12px 20px;
  font-size: 0.9rem;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
}

button:hover {
  background-color: #003d80;
}

/* Animações */
@keyframes suave {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.oculta-form {
  animation: top 0.5s forwards;
}

@keyframes top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

/* Responsividade */
@media (max-width: 480px) {
  #login-container {
    padding: 15px 20px;
  }

  button {
    width: 100%;
    font-size: 0.9rem;
  }
}
